*.pre
*.p1.d
*.p1
*.production.sym
*.production.sdb
*.production.rlf
*.production.obj
*.production.mum
*.production.map
*.production.lst
*.production.hxl
*.production.hex
*.production.cmf
*.production.elf
/build/
/dist/
/nbproject/private/
/debug/
*.bash
*.mk
*.properties
*.hex
